name: 'Terraform'
 

 
jobs:
  terraform:
    name: 'Terraform'
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_AD_TENANT_ID }}

    runs-on: ubuntu-latest
    environment: dev
 
    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
 
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2
 
    - name: 'Terraform Format'
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 0.14.8
        tf_actions_subcommand: 'fmt'
        tf_actions_working_dir: "./environments/dev/vm"
         
    - name: 'Terraform Init'
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 0.14.8
        tf_actions_subcommand: 'init'
        tf_actions_working_dir: "./environments/dev/vm"
        args: -var-file="dev.tfvars"
              -backend-config="backend.tfvars"
         
    - name: 'Terraform Validate'
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 0.14.8
        tf_actions_subcommand: 'validate'
        tf_actions_working_dir: "./environments/dev/vm"
         
    - name: 'Terraform Plan'
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 0.14.8
        tf_actions_subcommand: 'plan'
        tf_actions_working_dir: "./environments/dev/vm"
        args: -var-file="dev.tfvars"
        backend-config: resource_group_name =${{ secrets.AZURE_RESOURCE_GROUP }} \
                        storage_account_name = ${{ secrets.AZURE_STORAGE_ACCOUNT }} \
                        container_name       = ${{ secrets.AZURE_CONTAINER_NAME }} \
                        key                  = ${{ secrets.AZURE_KEY }}
    - name: Terraform Apply
      if: github.ref == 'refs/heads/main'
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 0.14.8
        tf_actions_subcommand: 'apply'
        tf_actions_working_dir: "./environments/dev/vm"
        args: -var-file="dev.tfvars"
        backend-config: resource_group_name =${{ secrets.AZURE_RESOURCE_GROUP }} \
                        storage_account_name = ${{ secrets.AZURE_STORAGE_ACCOUNT }} \
                        container_name       = ${{ secrets.AZURE_CONTAINER_NAME }} \
                        key                  = ${{ secrets.AZURE_KEY }}
                        
    - name: 'Build and Push Image to ACR'
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - run: |
        docker build -t ariv3ra/learniac  -t ariv3ra/learniac:0.0.1 .
        docker push ariv3ra/learniac
     #   docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/bookstoreapi:${{ github.sha }}
     #   docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/bookstoreapi:${{ github.sha }}
